<div class="d-flex justify-content-between align-items-center mt-2">
  <h5 class="mb-0">Data Collection Settings</h5>
  <a href="#" tooltipClass="custom-tooltip" ngbTooltip="Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy">
    <i class="bi bi-info-circle"></i>
  </a>
</div>

<hr class="mt-2 mb-4" />

<div class="row">
  <div class="col-md-4">
    <h6 class="text-success mb-3">On-site measurements</h6>
    @for (item of onsiteLists; track $index) {
    <div class="form-check form-switch mb-2">
      <input class="form-check-input" type="checkbox" name=" {{item.name}} - {{item.id}}" [(ngModel)]="item.checkbox"
        role="switch" id="weight" />
      <label class="form-check-label" for="weight">{{ item?.name }}</label>
    </div>
    }

    <!-- <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="height"
      />
      <label class="form-check-label" for="height">Height</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="heart_rate"
      />
      <label class="form-check-label" for="heart_rate">Heart rate</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="variabilty"
      />
      <label class="form-check-label" for="variabilty"
        >Heart rate variabilty</label
      >
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="blood_pressure"
      />
      <label class="form-check-label" for="blood_pressure"
        >Blood pressure</label
      >
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="oxygenation"
      />
      <label class="form-check-label" for="oxygenation"
        >Blood oxygenation level</label
      >
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="breathing_rate"
      />
      <label class="form-check-label" for="breathing_rate"
        >Breathing rate</label
      >
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="temperature"
      />
      <label class="form-check-label" for="temperature">Temperature</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="blood_test"
      />
      <label class="form-check-label" for="blood_test"
        >Blood test (electrolyte balance)</label
      >
    </div>

    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="glands"
      />
      <label class="form-check-label" for="glands"
        >Size of parotic glands</label
      >
    </div>

    <div class="form-check form-switch mb-2">
      <input class="form-check-input" type="checkbox" role="switch" id="Skin" />
      <label class="form-check-label" for="Skin">Skin breakdown</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input class="form-check-input" type="checkbox" role="switch" id="Neck" />
      <label class="form-check-label" for="Neck">Neck circumference</label>
    </div>
    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="Alcohol"
      />
      <label class="form-check-label" for="Alcohol">Alcohol use</label>
    </div>
    <div class="form-check form-switch mb-2">
      <input class="form-check-input" type="checkbox" role="switch" id="Flu" />
      <label class="form-check-label" for="Flu">Flu symptoms</label>
    </div>
    <div class="form-check form-switch mb-2">
      <input class="form-check-input" type="checkbox" role="switch" id="Face" />
      <label class="form-check-label" for="Face">Face swelling</label>
    </div> -->
  </div>

  <div class="col-md-4">
    <h6 class="text-success mt-4 pt-1 mb-3">In-app digital measurements</h6>
    @for (item of inAppLists; track $index) {
    <div class="form-check form-switch mb-2">
      <input class="form-check-input" type="checkbox" name=" {{item.name}} - {{item.id}}" [(ngModel)]="item.checkbox"
        role="switch" id="weight" />
      <label class="form-check-label" for="weight">{{ item?.name }}</label>
    </div>
    }
    <!-- <div class="form-check form-switch mb-2">
      <input class="form-check-input" type="checkbox" role="switch" id="fingertip" />
      <label class="form-check-label" for="fingertip">Fingertip analysis</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input class="form-check-input" type="checkbox" role="switch" id="test" />
      <label class="form-check-label" for="test">Sit-Up-Squat-Stand Test</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input class="form-check-input" type="checkbox" role="switch" id="photo" />
      <label class="form-check-label" for="photo">Photo reel</label>
    </div>

    <div class="form-check form-switch mb-2">
      <input class="form-check-input" type="checkbox" role="switch" id="diary" />
      <label class="form-check-label" for="diary">Video diary</label>
    </div> -->

    <h6 class="text-success mt-5 mb-2"><p class="" (click)="add()">
      Video diary topics<span class="bi bi-plus-circle me-1 text-info mx-2"></span> 
    </p></h6>
    @for (item of videodiarytopicsObject; track $index) {
    <div class="row">
      <div class="col-sm-7 col-md-7">
        <div class="form-group mb-3">
          <select class="form-select" name="topicId-{{$index}}" [(ngModel)]="item.topicId">
            <option selected>Select topic</option>
            @for (item of videodiarytopicsList; track $index) {
              <option value="{{ item.id }}  - {{item.name}} ">{{ item?.name }}</option>
            }
          
           
          </select>
        </div>
      </div>
      <div class="col-sm-5 col-md-5">
        <div class="form-group mb-3 d-flex">
          <input type="text" class="form-control" name="durationSecs-{{$index}}" [(ngModel)]="item.durationSecs" placeholder="Duration in secs" />
          @if($index != videodiarytopicsObject.length - 1){
            <p class="text-danger mx-3" (click)="remove($index)">
              <span class="bi bi-x-circle "></span> 
            </p>
          }
        </div>
      </div>
    </div>
  }
    <!-- <div class="row">
      <div class="col-sm-7 col-md-7">
        <div class="form-group mb-3">
          <select class="form-select">
            <option selected>Select topic</option>
            @for (item of videodiarytopicsList; track $index) {
              <option [value]="item.id">{{ item?.name }}</option>
            }
          </select>
        </div>
      </div>
      <div class="col-sm-5 col-md-5">
        <div class="form-group mb-3">
          <input type="text" class="form-control" placeholder="Duration in secs" />
        </div>
      </div>
    </div> -->
  </div>

  <div class="col-md-4">
    <h6 class="text-success mt-4 mt-md-0 mb-3">In-app scales/surveys</h6>

    @for (item of inAppLists; track $index) {
      <div class="form-check form-switch mb-2">
        <input class="form-check-input" type="checkbox" name=" {{item.name}} - {{item.id}}" [(ngModel)]="item.checkbox"
          role="switch" id="weight" />
        <label class="form-check-label" for="weight">{{ item?.name }}</label>
      </div>
      }
  </div>
</div>